<div class="forecast-zone forecast-current">
  <div class="col-xs-12">
    <span class="col-xs-12">
      <span>{{day.date}}</span>
      <span>{{day.weekDay}}</span>
    </span>
    <span class="col-xs-3">{{icon}}</span>
    <span class="col-xs-9">
      <span>{{day.highTemp}}</span>
      <span>{{day.lowTemp}}</span>
    </span>
    <span class="col-xs-12">
      <span>{{day.windSpeed}}</span>
      <span>{{day.windDirection}}</span>
      <span>{{day.precipPercent}}</span>
    </span>
  </div>
</div>