<div class="forecast-zone forecast-current">
  <div class="row">
    <div class="col-xs-12">
      <div class="forecast-current-locationInfo">
        {{city.name}},
        {{city.region}}
        {{city.zipcode}}
      </div>
      <div class="forecast-current-dateInfo">
        {{day.weekDay}}, {{day.date}}
      </div>
    </div>

    <div class="col-xs-12 top-padding bottom-padding">
      <div class="col-xs-8">
        <img class="low-res-icon" ng-src="{{day.icon}}">
        <span class="temp-display">{{day.highTemp}}&deg;</span>
        <span class="temp-display temp-display-slash">/</span>
        <span class="temp-display">{{day.lowTemp}}&deg;</span>
      </div>

      <div class="col-xs-4  top-padding bottom-padding muted">
        <p>Wind Speed: {{day.windSpeed}}</p>
        <p>Wind Direction: {{day.windDirection}}</p>
        <p>PoP: {{day.precipPercent}}%</p>
      </div>
    </div>
  </div>
</div>
