<div class="forecast-zone forecast-day" style="width:{{width}}%">
  <div class="row">
    <div class="col-xs-12 forecast-day-title">
       <label class="forecast-zone-label"> {{day.weekDay}}</label>
    </div>
    <div class="col-xs-12">
      <img class="forecast-day-icon" ng-src="{{day.icon}}">
    </div>
    <div class="col-xs-12 forecast-day-temp">
      <div class="col-xs-6 forecast-day-temp-hightemp">
       <label class="forecast-zone-label"> {{day.highTemp}}*</label>
      </div>
      <div class="col-xs-6 forecast-day-temp-lowetemp">
        <label class="forecast-zone-label"> {{day.lowTemp}}*</label>
      </div>
    </div>
  </div>
</div>