<div>
  <div class="jumbotron">
    "Date": {{forecast.summary_date}} | "Location": {{forecast._}}
    <br /> "Day of Week" : {{forecast.day_of_week}}
    <br /> "High Temperature": {{forecast.high}}
    <br /> "Low Temperature": {{forecast.low}}
    <br /> "Wind Speed": {{forecast.wnd_spd}}
    <br /> "Wind Direction" : {{forecast.wnd_dir}}
    <br /> "Percentage of Precipitation (POP)" : {{forecast.pop}}
    <br /> "Image of the wx code": {{forecast.wx}}
    <br /> "wx code": {{forecast.wx_code}}
  </div>
</div>
